<h1>Primeira Pagina</h1>
<p>
  Hora Atual:
    <%   
	    Response.Write "<p>The function Now returns: " & Now & "</p>"

	    Response.Write "<p>The function Date returns: " & Date & "</p>"

	    Response.Write "<p>The function Time returns: " & Time & "</p>"
	%>
</p>